@import './grid';

input {

    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 1px solid ghostwhite;
    text-align: center;
    font-weight: 500;
width: 100%;
}

.color-input {
        padding: 14px;
    // border: 0px;
    // border-bottom: 1px solid ghostwhite;
}

